{{yield (hash
  editor=this.editor
  activeMarkupTagNames=this.activeMarkupTagNames
  activeSectionTagNames=this.activeSectionTagNames
  activeSectionAttributes=this.activeSectionAttributes
  toggleMarkup=(action 'toggleMarkup')
  toggleLink=(action 'toggleLink')
  addCard=(action 'addCard')
  addAtom=(action 'addAtom')
  addCardInEditMode=(action 'addCardInEditMode')
  toggleSection=(action 'toggleSection')
  setAttribute=(action 'setAttribute')
  isDefaultAttributeValue=(action 'isDefaultAttributeValue')
)}}

<div class="mobiledoc-editor__editor-wrapper">
  <div class="mobiledoc-editor__editor"></div>
</div>

{{#if this.linkOffsets}}
  {{#tether-to-selection}}
    <MobiledocLinkPrompt
      @on-submit={{action "completeLink"}}
      @on-cancel={{action "cancelLink"}}
    />
  {{/tether-to-selection}}
{{/if}}

{{#each this.componentCards as |card|}}
  {{#ember-wormhole to=card.destinationElementId}}
    {{! LEGACY: Payload is passed as the legacy "data" attr below. This
        is deprecated and should be removed before 1.0 }}
    {{component card.cardName
        editor=this.editor
        postModel=card.postModel
        cardName=card.cardName
        payload=card.payload
        data=card.payload
        env=card.env
        options=card.options
        editCard=(action card.env.edit)
        saveCard=(action card.env.save)
        cancelCard=(action card.env.cancel)
        removeCard=(action card.env.remove)}}
  {{/ember-wormhole}}
{{/each}}

{{#each this.componentAtoms as |atom|}}
  {{#ember-wormhole to=atom.destinationElementId}}
    {{component atom.atomName
        editor=this.editor
        postModel=atom.postModel
        atomName=atom.atomName
        payload=atom.payload
        value=atom.value
        options=atom.options
        saveAtom=(action atom.callbacks.save)
        }}
  {{/ember-wormhole}}
{{/each}}
