<li class="content-kit-toolbar__control">
  <button
    title="Bold"
    class="content-kit-toolbar__button {{if contentKit.activeMarkupTagNames.isStrong 'active'}}"
    {{action contentKit.toggleMarkup 'strong'}}>
    Bold
  </button>
</li>
<li class="content-kit-toolbar__control">
  <button
    title="Italic"
    class="content-kit-toolbar__button {{if contentKit.activeMarkupTagNames.isEm 'active'}}"
    {{action contentKit.toggleMarkup 'em'}}>
    Italic
  </button>
</li>
<li class="content-kit-toolbar__control">
  <button
    title="Link"
    class="content-kit-toolbar__button" {{action contentKit.toggleLink}}>
    Link
  </button>
</li>
<li class="content-kit-toolbar__control">
  <button
    title="Heading"
    class="content-kit-toolbar__button {{if contentKit.activeSectionTagNames.isH1 'active'}}"
    {{action contentKit.toggleSectionTagName 'h1'}}>
    Headline
  </button>
</li>
<li class="content-kit-toolbar__control">
  <button
    title="Subheading"
    class="content-kit-toolbar__button {{if contentKit.activeSectionTagNames.isH2 'active'}}"
    {{action contentKit.toggleSectionTagName 'h2'}}>
    Subheadline
  </button>
</li>
<li class="content-kit-toolbar__control">
  <button
    title="Block Quote"
    class="content-kit-toolbar__button {{if contentKit.activeSectionTagNames.isBlockquote 'active'}}"
    {{action contentKit.toggleSectionTagName 'blockquote'}}>
    <i class="icon-quote-block"></i>
    Blockquote
  </button>
</li>
<li class="content-kit-toolbar__control">
  <button
    title="Pull Quote"
    class="content-kit-toolbar__button {{if contentKit.activeSectionTagNames.isPullQuote 'active'}}"
    {{action contentKit.toggleSectionTagName 'pull-quote'}}>
    Pull-quote
  </button>
</li>
<li class="content-kit-toolbar__control">
  <button
    title="List"
    class="content-kit-toolbar__button"
    {{action contentKit.createListSection 'ul'}}>
    Unordered List
  </button>
</li>
<li class="content-kit-toolbar__control">
  <button
    title="Numbered List"
    class="content-kit-toolbar__button"
    {{action contentKit.createListSection 'ol'}}>
    Ordered List
  </button>
</li>

{{yield}}
