<li class="content-kit-toolbar__control">
  <button title="Bold" class="content-kit-toolbar__button {{if (in-array editorComponent.activeMarkupTagNames 'strong') 'active'}}"
      {{action editorActions.toggleMarkup 'strong'}}>
    <i class="icon-bold"></i>
  </button>
</li>
<li class="content-kit-toolbar__control">
  <button title="Italic" class="content-kit-toolbar__button {{if (in-array editorComponent.activeMarkupTagNames 'em') 'active'}}"
    {{action editorActions.toggleMarkup 'em'}}>
    <i class="icon-italic"></i>
  </button>
</li>
<li class="content-kit-toolbar__control">
  <button title="Link" class="content-kit-toolbar__button" {{action editorActions.toggleLink}}>
    <i class="icon-link"></i>
  </button>
</li>
<li class="content-kit-toolbar__control">
  <button title="Heading" class="content-kit-toolbar__button {{if (in-array editorComponent.activeSectionTagNames 'h1') 'active'}}"
    {{action editorActions.toggleSectionTagName 'h1'}}>
    H1
  </button>
</li>
<li class="content-kit-toolbar__control">
  <button title="Subheading" class="content-kit-toolbar__button {{if (in-array editorComponent.activeSectionTagNames 'h2') 'active'}}"
    {{action editorActions.toggleSectionTagName 'h2'}}>
    H2
  </button>
</li>
<li class="content-kit-toolbar__control">
  <button title="Block Quote" class="content-kit-toolbar__button {{if (in-array editorComponent.activeSectionTagNames 'blockquote') 'active'}}"
    {{action editorActions.toggleSectionTagName 'blockquote'}}>
    <i class="icon-quote-block"></i>
  </button>
</li>
<li class="content-kit-toolbar__control">
  <button title="Pull Quote" class="content-kit-toolbar__button {{if (in-array editorComponent.activeSectionTagNames 'pull-quote') 'active'}}"
    {{action editorActions.toggleSectionTagName 'pull-quote'}}>
    <i class="icon-quote-pull"></i>
  </button>
</li>
<li class="content-kit-toolbar__control">
  <button title="List" class="content-kit-toolbar__button"
    {{action editorActions.createListSection 'ul'}}>
    <i class="icon-list-bulleted"></i>
  </button>
</li>
<li class="content-kit-toolbar__control">
  <button title="Numbered List" class="content-kit-toolbar__button"
    {{action editorActions.createListSection 'ol'}}>
    <i class="icon-list-numbered"></i>
  </button>
</li>

{{yield}}
